{% extends 'base.html.twig' %}

{% block title %}Deportistas index{% endblock %}

{% block body %}
    <h1>Deportistas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Edad</th>
                <th>Peso</th>
                <th>Email</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
        {% for deportista in deportistas %}
            <tr>
                <td>{{ deportista.id }}</td>
                <td>{{ deportista.nombre }}</td>
                <td>{{ deportista.apellidos }}</td>
                <td>{{ deportista.edad }}</td>
                <td>{{ deportista.peso }}</td>
                <td>{{ deportista.email }}</td>
                <td>{{ deportista.TypeOfCategoria }}</td>
                <td>
                    <a href="{{ path('app_deportistas_show', {'id': deportista.id}) }}" class="link">show</a>
                    <a href="{{ path('app_deportistas_edit', {'id': deportista.id}) }}" class="link">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_deportistas_new') }}" class="create">Create new</a>
{% endblock %}
